.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.worker {
  display: block;
  background-color: yellow;
  height: 20px;
  width: 20px;
}

